{{#> base }}

    {{> navbar/navbar }}

    <main id="page-home">

        <!-- Intro -->
        <section id="intro">
            <div class="container">
                <div class="row center-xs start-sm middle-sm">

                    <div class="col-xs-10 col-sm-6 col-left">
                        <img src="assets/images/logo.svg" alt="O°code" height="64px">
                        <h1>{{{ i18n.INTRO.TITLE }}}</h1>
                        <p>{{ i18n.INTRO.SUBTITLE }}</p>
                    </div>

                    <div class="col-xs-10 col-sm-6 first-xs last-sm col-right">
                        <img src="assets/images/intro-right.svg" alt="illustration" height="618px">
                    </div>

                </div>

                <div class="follow-us row middle-xs">
                    <div class="col-xs-12">
                        <span>{{ i18n.INTRO.FOLLOW_US }}</span>
                        <a href="#" title="Facebook"><img src="assets/images/facebook.png" alt="Facebook" height="16px"></a>
                        <a href="#" title="Twitter"><img src="assets/images/twitter.png" alt="Twitter" height="16px"></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="services">
            <div class="container">

                <div class="row center-xs middle-sm service">
                    <div class="col-xs-10 col-sm-2">
                        <img src="assets/images/service-1.svg" alt="O°code" height="140px">
                    </div>
                    <div class="col-xs-10 col-sm-6">
                        <h2>{{ i18n.SERVICES.1_TITLE }}</h2>
                        <p>{{{ i18n.SERVICES.1_TEXT }}}</p>
                    </div>
                </div>

                <div class="row center-xs middle-sm service">
                    <div class="col-xs-10 col-sm-6">
                        <h2>{{{ i18n.SERVICES.2_TITLE }}}</h2>
                        <p>{{{ i18n.SERVICES.2_TEXT }}}</p>
                    </div>
                    <div class="col-xs-10 col-sm-2">
                        <img src="assets/images/service-2.svg" alt="O°code" height="140px">
                    </div>
                </div>

                <div class="row center-xs middle-sm service">
                    <div class="col-xs-10 col-sm-2">
                        <img src="assets/images/service-3.svg" alt="O°code" height="140px">
                    </div>
                    <div class="col-xs-10 col-sm-6">
                        <h2>{{ i18n.SERVICES.3_TITLE }}</h2>
                        <p>{{{ i18n.SERVICES.3_TEXT }}}</p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Applications -->
        <section id="applications">
            <div class="container">
                <div class="row center-xs middle-sm">

                    <div class="col-xs-10 col-sm-4 col-left">

                        <div class="app row center-xs middle-sm end-sm">
                            <div class="text row middle-xs end-xs">{{ i18n.APPS.APP_1 }}</div>
                            <img src="assets/images/app-1.svg" alt="O°code" height="64px">
                        </div>
                        <div class="app row center-xs middle-sm end-sm">
                            <div class="text row middle-xs end-xs">{{ i18n.APPS.APP_3 }}</div>
                            <img src="assets/images/app-3.svg" alt="O°code" height="64px">
                        </div>
                        <div class="app row center-xs middle-sm end-sm">
                            <div class="text row middle-xs end-xs">{{ i18n.APPS.APP_5 }}</div>
                            <img src="assets/images/app-5.svg" alt="O°code" height="64px">
                        </div>

                    </div>

                    <div class="col-xs-10 col-sm-4 col-sm-offset-2 col-right">

                        <div class="app row center-xs middle-sm start-sm">
                            <img src="assets/images/app-2.svg" alt="O°code" height="64px">
                            <div class="text row middle-xs start-xs">{{ i18n.APPS.APP_2 }}</div>
                        </div>
                        <div class="app row center-xs middle-sm start-sm">
                            <img src="assets/images/app-4.svg" alt="O°code" height="64px">
                            <div class="text row middle-xs start-xs">{{ i18n.APPS.APP_4 }}</div>
                        </div>
                        <div class="app row center-xs middle-sm start-sm">
                            <img src="assets/images/app-6.svg" alt="O°code" height="64px">
                            <div class="text row middle-xs start-xs">{{ i18n.APPS.APP_6 }}</div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <!-- Advantages -->
        <section id="advantages">
            <div class="container">

                <div class="row center-xs middle-sm row-desc">
                    <div class="col-xs-10 col-sm-6">
                        <h2>{{ i18n.ADVANTAGES.TITLE }}</h2>
                        <p>{{ i18n.ADVANTAGES.DESCRIPTION }}</p>
                    </div>
                </div>

                <div class="row center-xs middle-sm">
                    <div class="col-xs-10 col-sm-2 advantage">
                        <img src="assets/images/advantage-card.svg" alt="O°code" width="100%">
                        <div class="label text-primary">{{ i18n.ADVANTAGES.ADVANTAGE_1 }}</div>
                    </div>
                    <div class="col-xs-10 col-sm-2 col-sm-offset-1 advantage">
                        <img src="assets/images/advantage-planet.svg" alt="O°code" width="100%">
                        <div class="label text-primary">{{ i18n.ADVANTAGES.ADVANTAGE_3 }}</div>
                    </div>
                    <div class="col-xs-10 col-sm-2 col-sm-offset-1 advantage">
                        <img src="assets/images/advantage-guard.svg" alt="O°code" width="100%">
                        <div class="label text-primary">{{ i18n.ADVANTAGES.ADVANTAGE_3 }}</div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{{/ base }}
