{{#> base }}

    {{> navbar/navbar }}

    <main id="page-home">

        <!-- Intro -->
        <section id="intro">
            <div class="container">
                <div class="row start-xs middle-sm">

                    <div class="col-xs-12 col-sm-6 col-left">
                        <div class="shape rellax"></div>

                        <img src="assets/images/logo.svg" class="hidden-xs" alt="O°code" height="64px">
                        <h1>{{{ i18n.INTRO.TITLE }}}</h1>
                        <p>{{ i18n.INTRO.SUBTITLE }}</p>
                    </div>

                    <div class="col-xs-12 col-sm-6 last-sm col-right">
                        <img src="assets/images/intro-illustration.svg" alt="illustration" height="618px">
                    </div>

                </div>

                <div class="follow-us row middle-xs center-xs">
                    <div class="col-xs-12">
                        <span class="hidden-xs">{{ i18n.INTRO.FOLLOW_US }}</span>
                        <a href="#" title="Facebook"><img src="assets/images/facebook.png" alt="Facebook" height="16px"></a>
                        <a href="#" title="Twitter"><img src="assets/images/twitter.png" alt="Twitter" height="16px"></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section id="services">
            <div class="container">

                <div class="shape shape-left rellax" data-rellax-speed="-1" data-rellax-percentage="0.4"></div>
                <div class="shape shape-right rellax" data-rellax-speed="-2.5" data-rellax-percentage="0.2"></div>

                <div class="row center-xs middle-sm service">
                    <div class="col-xs-10 col-sm-2">
                        <img src="assets/images/service-1.svg" alt="O°code" height="140px">
                    </div>
                    <div class="col-xs-10 col-sm-6">
                        <h2>{{ i18n.SERVICES.1_TITLE }}</h2>
                        <p class="hidden-xs">{{{ i18n.SERVICES.1_TEXT }}}</p>
                    </div>
                </div>

                <div class="row center-xs middle-sm service">
                    <div class="col-xs-10 col-sm-6 last-xs first-sm">
                        <h2>{{{ i18n.SERVICES.2_TITLE }}}</h2>
                        <p class="hidden-xs">{{{ i18n.SERVICES.2_TEXT }}}</p>
                    </div>
                    <div class="col-xs-10 col-sm-2 first-xs last-sm">
                        <img src="assets/images/service-2.svg" alt="O°code" height="140px">
                    </div>
                </div>

                <div class="row center-xs middle-sm service">
                    <div class="col-xs-10 col-sm-2">
                        <img src="assets/images/service-3.svg" alt="O°code" height="140px">
                    </div>
                    <div class="col-xs-10 col-sm-6">
                        <h2>{{ i18n.SERVICES.3_TITLE }}</h2>
                        <p class="hidden-xs">{{{ i18n.SERVICES.3_TEXT }}}</p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Applications -->
        <section id="applications">
            <div class="container">
                <div class="row center-xs middle-sm">

                    <div class="col-xs-12 col-sm-4 col-left">

                        <div class="app row middle-sm end-sm">
                            <div class="text row middle-xs end-sm start-xs last-xs">{{ i18n.APPS.APP_1 }}</div>
                            <img src="assets/images/app-1.svg" alt="O°code" height="64px">
                        </div>
                        <div class="app row middle-sm end-xs">
                            <div class="text row middle-xs end-xs last-xs">{{ i18n.APPS.APP_3 }}</div>
                            <img src="assets/images/app-3.svg" alt="O°code" height="64px">
                        </div>
                        <div class="app row middle-sm end-sm">
                            <div class="text row middle-xs end-sm start-xs last-xs">{{ i18n.APPS.APP_5 }}</div>
                            <img src="assets/images/app-5.svg" alt="O°code" height="64px">
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-right">

                        <div class="app row middle-sm start-sm end-xs">
                            <img src="assets/images/app-2.svg" alt="O°code" height="64px">
                            <div class="text row middle-xs start-sm end-xs last-xs">{{ i18n.APPS.APP_2 }}</div>
                        </div>
                        <div class="app row middle-sm start-xs">
                            <img src="assets/images/app-4.svg" alt="O°code" height="64px">
                            <div class="text row middle-xs start-xs">{{ i18n.APPS.APP_4 }}</div>
                        </div>
                        <div class="app row middle-sm start-sm end-xs">
                            <img src="assets/images/app-6.svg" alt="O°code" height="64px">
                            <div class="text row middle-xs start-sm end-xs last-xs">{{ i18n.APPS.APP_6 }}</div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

        <!-- Advantages -->
        <section id="advantages">
            <div class="container">

                <div class="row center-xs middle-sm row-desc">
                    <div class="col-xs-10 col-sm-6">
                        <h2>{{ i18n.ADVANTAGES.TITLE }}</h2>
                        <p>{{ i18n.ADVANTAGES.DESCRIPTION }}</p>
                    </div>
                </div>

                <div class="row center-xs middle-sm">
                    <div class="col-xs-4 col-sm-2 advantage">
                        <img src="assets/images/advantage-card.svg" alt="O°code" width="100%">
                        <div class="label text-primary">{{ i18n.ADVANTAGES.ADVANTAGE_1 }}</div>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-sm-offset-1 advantage">
                        <img src="assets/images/advantage-planet.svg" alt="O°code" width="100%">
                        <div class="label text-primary">{{ i18n.ADVANTAGES.ADVANTAGE_2 }}</div>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-sm-offset-1 advantage">
                        <img src="assets/images/advantage-guard.svg" alt="O°code" width="100%">
                        <div class="label text-primary">{{ i18n.ADVANTAGES.ADVANTAGE_3 }}</div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Team -->
        <section id="team">
            <div class="container">

                <!-- SVG clipPath member-shape-1 -->
                <svg height="100%" width="100%">
                    <defs>
                        <clipPath id="member-shape-1">
                            <path d="M49.5855844,30.3149404 C58.3029582,19.4838009 42.2700065,0 19.8496126,0 C-2.57078141,0 -6.3493954,23.0246318 10.3076128,42.9026672 C26.964621,62.7807026 40.8682106,41.1460799 49.5855844,30.3149404 Z" />
                        </clipPath>
                    </defs>
                </svg>

                <!-- SVG clipPath member-shape-2 -->
                <svg height="100%" width="100%">
                    <defs>
                        <clipPath id="member-shape-2">
                            <path d="M56,32.8941644 C56,11.6992778 45.438231,0 21.1012133,0 C-3.2358044,0 -6.29035358,37.9250462 10.7435087,46.0070486 C27.7773711,54.0890509 56,54.0890509 56,32.8941644 Z" />
                        </clipPath>
                    </defs>
                </svg>

                <!-- SVG clipPath member-preview-shape -->
                <svg height="100%" width="100%">
                    <defs>
                        <clipPath id="member-preview-shape">
                            <path d="M347.091398,211.541127 C398.322352,138.530007 390.334346,88.605423 193.845027,15.6487351 C-2.6442913,-57.307953 -46.8868338,151.715292 51.0043936,285.710209 C148.895621,419.705126 295.860444,284.552248 347.091398,211.541127 Z" />
                        </clipPath>
                    </defs>
                </svg>

                <!-- Members -->
                <div class="row hidden-xs middle-sm end-sm">

                    <div id="members" class="col-xs-10 col-sm-4">
                        <div class="row">
                            {{#each i18n.TEAM.MEMBERS}}
                                <div class="col-xs-4 col-sm-3 member" title="{{ this.NAME }}">
                                    <div class="member-image" style="background-image: url('assets/images/{{ this.IMAGE }}');"></div>
                                </div>
                            {{/each}}
                        </div>
                    </div>

                </div>

                <!-- Preview member -->
                <div id="member-preview-wrapper" class="row center-xs middle-sm start-sm">

                    <div class="col-sm-7 member-preview">
                        <div class="btn-prev">
                            <span class="hidden-xs">{{ i18n.TEAM.NAV_PREV }}</span>
                            <span class="visible-xs">&#60;</span>
                        </div>
                        <div class="btn-next">
                            <span class="hidden-xs">{{ i18n.TEAM.NAV_NEXT }}</span>
                            <span class="visible-xs">&#62;</span>
                        </div>
                        <div class="member-image"></div>
                    </div>

                    <div class="col-xs-12 col-sm-4 member-description">
                        <h2 class="member-name">Jean-Baptiste Pondevy</h2>
                        <div class="member-status">Co-foudner</div>
                        <div class="member-xp">Co-foundateur de Bimédia<br />Président de CS Bimédia</div>
                        <p class="member-informations">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam arcu massa, pharetra ac arcu non, rutrum elementum nibh. Curabitur malesuada leo lacinia, rhoncus elit nec, sodales arcu.</p>
                    </div>

                </div>
            </div>
        </section>

        <!-- Contact -->
        <section id="contact">
            <div class="container">

                <div class="row start-xs middle-sm">
                    <div class="col-xs-12 col-sm-6">
                        <h2>{{ i18n.CONTACT.TITLE }}</h2>
                        <p>{{ i18n.CONTACT.SUBTITLE }}</p>
                    </div>
                </div>

                <div class="row start-xs middle-sm">
                    <div class="col-xs-12 col-sm-6">

                        <form>

                            <div class="row start-xs middle-sm">
                                <div class="col-xs-10 col-sm-6">
                                    <div class="form-element-wrapper">
                                        <label for="form-lastname">{{ i18n.CONTACT.FORM_LASTNAME }}</label>
                                        <input id="form-lastname" name="form-lastname" type="text" placeholder="{{ i18n.CONTACT.FORM_LASTNAME_PLACEHOLDER }}" required>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-sm-6">
                                    <div class="form-element-wrapper">
                                        <label for="form-firstname">{{ i18n.CONTACT.FORM_FIRSTNAME }}</label>
                                        <input id="form-firstname" name="form-firstname" type="text" placeholder="{{ i18n.CONTACT.FORM_FIRSTNAME_PLACEHOLDER }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row start-xs middle-sm">
                                <div class="col-xs-10 col-sm-6">
                                    <div class="form-element-wrapper">
                                        <label for="form-email">{{ i18n.CONTACT.FORM_EMAIL }}</label>
                                        <input id="form-email" name="form-email" type="email" placeholder="{{ i18n.CONTACT.FORM_EMAIL_PLACEHOLDER }}" required>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-sm-6">
                                    <div class="form-element-wrapper">
                                        <label for="form-company">{{ i18n.CONTACT.FORM_COMPANY }}</label>
                                        <input id="form-company" name="form-company" type="text" placeholder="{{ i18n.CONTACT.FORM_COMPANY_PLACEHOLDER }}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row start-xs middle-sm">
                                <div class="col-xs-12 col-sm-10">
                                    <div class="form-element-wrapper">
                                        <label for="form-message">{{ i18n.CONTACT.FORM_MESSAGE }}</label>
                                        <textarea id="form-message" name="form-message" placeholder="{{ i18n.CONTACT.FORM_MESSAGE_PLACEHOLDER }}" required></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row start-xs middle-sm">
                                <div class="col-xs-12 col-sm-4">
                                    <button type="submit">{{ i18n.CONTACT.FORM_BTN_SUBMIT }}</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </section>

    </main>

{{/ base }}
