<nav>
    <ul>
        <li><a href="#" title="" rel="noopener">{{ i18n.NAVBAR_SERVICE }}</a></li>
        <li><a href="#" title="" rel="noopener">{{ i18n.NAVBAR_APP }}</a></li>
        <li><a href="#" title="" rel="noopener">{{ i18n.NAVBAR_ASSETS }}</a></li>
        <li><a href="#" title="" rel="noopener">{{ i18n.NAVBAR_TEAM }}</a></li>
        <li><a href="#" title="" rel="noopener">{{ i18n.NAVBAR_CONTACT }}</a></li>
    </ul>
</nav>
